.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quote {
  background: url(./assets/aaron-paul-baseball-bats-breaking-bad-bryan-cranston-wallpaper-preview.jpg);
  background-size: cover;
  width: 618px;
  height: 336px;
}

.btn {
  margin-bottom: 15px;
}
